<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Weather Alert App</title>
</head>
<body>
    <div class="topBanner"> 
        <h1>SIMPLE WEATHER</h1>
        <p class="description"> Just the forecast.</p>
    </div>

    <div class="enterZip">

        <form action="/get_weather" method="post" class="loc-input">
            <div class="form-group">
                <input type="text" class="form-control" id="zipCode" name="zipCode" placeholder= " Enter Zip" required>
            </div>
            <button type="submit" class="getWeather">FORECAST</button>
        </form>
    </div>
    
    <div class="results">
        {% block results %}{% endblock %}
    </div>

</body>
</html>
