<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Alert App</title>
</head>
<body>
    <div class="enterZip">
        <h1>Welcome to the Weather Alert App</h1>

        <form action="/get_weather" method="post" class="mt-4">
            <div class="form-group">
                <label for="zipCode">Enter Zip Code:</label>
                <input type="text" class="form-control" id="zipCode" name="zipCode" required>
            </div>
            <button type="submit" class="getWeather">Get Weather</button>
        </form>
    </div>

</body>
</html>
